<% if (!user) { %>
  <div class="hero-unit">
    <h1>欢迎来到 USTC View</h1>
    <p>USTC View 是一个基于 <strong>远程呈现机器人</strong> 的参观系统。</p>
    <p>
      <a class="btn btn-primary btn-large" href="/login">登录</a>
      <a class="btn btn-large" href="/reg">立即注册</a>
    </p>
  </div>
<% } else { %>

<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/websocket.js"></script>

<div class="row span12">
  <input type="text" id="conference-name" class="input-float" placeholder="Broadcast Name">
  <select id="broadcasting-option" class="input-float">
    <option>Audio + Video</option>
  </select>
  <button class="input-float" id="start-conferencing">Start</button>
</div>

<div class="row span12">
  <!--<p id="rooms-list-loading">Finding robots...</p>-->
  <table id="rooms-list" class="visible">
  </table>
  <div id="participants"></div>
</div>

<div class="span12">
  <h3>使用说明</h3>

  <p>Use arrow keys control; press space to stop</p>
  <p>使用方向键控制 空格键停止</p>

  <input class="robot-ctl" type="button" id="left" value="left" />
  <input class="robot-ctl" type="button" id="down" value="down" />
  <input class="robot-ctl" type="button" id="up" value="up" />
  <input class="robot-ctl" type="button" id="right" value="right" />
  <input class="robot-ctl" type="button" id="stop" value="stop" />
  <input class="robot-ctl" type="button" id="turnoff" value="turnoff" />
  <input class="robot-ctl" type="button" id="turnon" value="turnon" />
</div>

<script src="/javascripts/firebase.js"></script>
<script src="/javascripts/rtc-socket.io.js"></script>
<script src="/javascripts/RTCPeerConnection-v1.5.js"></script>
<script src="/javascripts/broadcast.js"></script>
<script src="/javascripts/broadcast-ui.js"></script>

<% } %>
