<% if (!user) { %>
  <div class="hero-unit">
    <h1>欢迎来到 USTC View</h1>
    <p>USTC View 是一个基于 远程呈现机器人 的参观系统。</p>
    <p>
      <a class="btn btn-primary btn-large" href="/login">登录</a>
      <a class="btn btn-large" href="/reg">立即注册</a>
    </p>
  </div>
<% } else { %>
  <%- partial('say') %> 
<% } %>
<%- partial('posts') %> 
