<% if (!user) { %>
  <div class="hero-unit">
    <h1>欢迎来到 USTC View</h1>
    <p>USTC View 是一个基于 <strong>远程呈现机器人</strong> 的参观系统。</p>
    <p>
      <a class="btn btn-primary btn-large" href="/login">登录</a>
      <a class="btn btn-large" href="/reg">立即注册</a>
    </p>
  </div>
<% } else { %>

<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/websocket.js"></script>

<div class="row">
  <div class="span 7">
    <table class="visible">
      <tr>
        <div class="span 7">
          <td style="text-align: right;">
            <input type="text" id="conference-name" placeholder="Broadcast Name">
          </td>
        </div>

        <div class="span 9">
          <td>
            <select id="broadcasting-option" style="font-size: 1.2em;">
              <option>Audio + Video</option>
            </select>
          </td>
        </div>
        
        <td>
          <button id="start-conferencing">Start</button>
        </td>
        
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <table id="rooms-list" class="visible"></table>
  <div id="participants"></div>
</div>

<div>
  <h3>使用说明</h3>

  <p>Use arrow keys control; press space to stop</p>
  <p>使用方向键控制 空格键停止</p>

  <input type="button" id="left" value="left" />
  <input type="button" id="down" value="down" />
  <input type="button" id="up" value="up" />
  <input type="button" id="right" value="right" />
  <input type="button" id="stop" value="stop" />
  <input type="button" id="turnoff" value="turnoff" />
  <input type="button" id="turnon" value="turnon" />
</div>

<script src="/javascripts/firebase.js"></script>
<script src="/javascripts/rtc-socket.io.js"></script>
<script src="/javascripts/RTCPeerConnection-v1.5.js"></script>
<script src="/javascripts/broadcast.js"></script>
<script src="/javascripts/broadcast-ui.js"></script>

<% } %>
