<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - USTC View</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="/javascripts/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">USTC View</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">首页</a></li>
              <% if (!user) { %>
                <li><a href="/login">登录</a></li>
                <li><a href="/reg">注册</a></li>
              <% } else { %>
                <li><a href="/logout">退出</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="container" class="container">
      <% if (success) { %>
        <div class="alert alert-success">
          <%= success %>
        </div>
      <% } %>
      <% if (error) { %>
        <div class="alert alert-error">
          <%= error %>
        </div>
      <% } %>

      <%- body %>

      <!-- <hr />-->
      <footer class="span12">
        <hr />
        <p><a href="http://www.ustc.edu.cn/" target="_blank">USTC TPB</a>
          <!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
          <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
            &copy;
          </span>
          <!--[if lte IE 8]></span><![endif]-->
          2013</p>
      </footer>

    </div>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>
