body {
    padding-top: 60px;
    padding-bottom: 80px;
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}
footer.span12 {
    position: fixed;
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 45px, rgba(255, 255, 255, 0));
    padding-top: 50px;
    border-top: none;
    margin-left: 0;
    text-align: center;
}

hr{
    margin-top: 1em;
}
#container{
    position: relative;
}
#participants{ 
    text-align: center;
}

.input-float{
    float: left;
    margin-right: 0.309em;
}
#start-conferencing{ 
    position: relative;
    top: 0.11em;
}
#conference-name{ 
    
}
div.span12{ 
    margin-left: 0;
    margin-bottom: 1.236em;
}/*
#rooms-list{ 
    margin-top: 1.236em;
}*/
#rooms-list tr{ 
    height: 2.472em;
}
.robot-ctl{ 
    margin-bottom: 0.309em;
}

@media screen and (max-width: 767px){ 
  footer.span12{ 
    margin-left: -20px;
  }
}